nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
}

nav > span {
  font-family: "Bungee", "sans-serif";
  font-size: 2em;
  margin-left: 1.5em;
}

.tweet-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5em;
}

nav i {
  color: red;
}